@charset "UTF-8";

* { margin: 0; padding: 0; color: #333; }
html { font-size: 15px; }
a { text-decoration: none; }
header { background: #f5f5fa; }
textarea { font-size: 1rem; resize: none; }

ol { padding-left: 20px; }

.member_box .tool_box { float: left; margin-right: 20px; }
.member_box .notification_box { float: left; }
.member_box .notification_box .notification_count { cursor: pointer; border: 1px solid #56555c; }
.member_box .notification_box .notification_count span { font-weight: bolder; }
.member_box .notification_box .notification_list_box { z-index: 1; position: absolute; padding: 10px 15px; border: 2px solid #56555c; border-radius: 3px; background: #fff; }
.member_box .notification_box .notification_list_box:not(.on) { display: none; }
.member_box .notification_box .notification_list_box .notification_list { margin-bottom: 10px; border-bottom: 1px solid #ccc; }
.member_box .notification_box .notification_list_box .notification_list > li:not(:last-child) { border-bottom: 1px solid #ccc; }
.member_box .notification_box .notification_list_box .notification_list > li { position: relative; padding: 5px 40px 5px 0; }
.member_box .notification_box .notification_list_box .notification_list > li.checked { color: #ccc; }
.member_box .notification_box .notification_list_box .notification_list > li .notification_contents { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.member_box .notification_box .notification_list_box .notification_list > li.checked p { color: #ccc; }
.member_box .notification_box .notification_list_box .notification_list > li .notification_contents::before { content: '"'; }
.member_box .notification_box .notification_list_box .notification_list > li .notification_contents::after { content: '"'; }
.member_box .notification_box .notification_list_box .notification_list > li .btn_notification[data-action=delete] { position: absolute; right: 0; top: 50%; transform: translateY(-50%); }
.member_box .notification_box .notification_list_box .btn_notification[data-action=delete_all] { float: right; }

.gnb_box { clear: both; }

.pagination a { display: inline-block; vertical-align: top; padding: 2px 5px; margin-right: -1px; border: 1px solid #ccc; }
.pagination a.on { color: #fff; border-color: #56555c; background: #56555c; }

table { border-collapse: collapse; }
table thead { border: 1px solid #56555c; }
table tbody tr:nth-child(2n-1) { background: #f5f5fa; }
table th,
table td { padding: 5px 10px; }

input[type=text],
input[type=password] { height: 25px; vertical-align: middle; padding: 0 10px; border: 1px solid #56555c; border-radius: 3px; }

.reply_count { display: inline-block; vertical-align: middle; color: #fff; padding: 0 5px; border-radius: 3px; background: #56555c; }

.board_list_box { display: inline-block; vertical-align: top; }
.board_list_box .board_common { margin-bottom: 20px; }
.board_list_box .btn_box { text-align: right; margin-bottom: 20px; }
.board_list_box .locked { display: inline-block; vertical-align: middle; font-size: 12px; color: #fff; padding: 2px 4px; border-radius: 3px; background: #56555c; }
.pagination { text-align: center; }

.btn { cursor: pointer; display: inline-block; vertical-align: top; color: #56555c; padding: 2px 3px 3px; border: 1px solid #bbb; border-radius: 3px; background: none; box-shadow: 0 0 3px 0 #ccc; }
.btn_like { transition: border-color .25s, color .25s; font-size: 16px; color: #999; padding: 5px 10px; }
.btn_like:not(.locked) { cursor: pointer; }
.btn_like.on:not(.locked),
.btn_like:hover:not(.locked) { color: #1767c8; border-color: #1767c8; }

.article_box { margin-bottom: 20px; border: 1px solid #ddd; }
.article_box .article_title { font-size: 18px; font-weight: normal; padding: 10px; }
.article_box .article_info .info_list { border-style: solid; border-width: 1px 0; border-color: #ddd; overflow: hidden; }
.article_box .article_info .info_list > li { display: inline-block; vertical-align: top; position: relative; }
.article_box .article_info .info_list > li span { display: inline-block; vertical-align: top; position: relative; padding: 5px 10px; }
.article_box .article_info .info_list > li span.title::before { z-index: -1; content: ''; width: 100%; height: 1000px; display: block; position: absolute; left: 0; top: 0; background: #f5f5fa; }
.article_box .article_info .info_list > li::before{ z-index: -2; content: ''; width: 10000px; height: 0; display: block; position: absolute; left: 0; top: -1px; border-top: 1px solid #56555c; }
.article_box .article_contents { padding: 20px 10px; }
.article_box .article_contents:not(:last-child) { border-bottom: 1px solid #ddd; }
.article_box .article_like { padding: 10px; border-bottom: 1px solid #ddd; }
.article_box .btn_box { padding: 10px; } 

.reply_box { margin-bottom: 20px; border: 1px solid #ddd; }
.reply_box .write_box { display: inline-block; vertical-align: top; padding: 10px; }
.reply_box .write_box .title { display: block; margin-bottom: 10px; }
.reply_box .write_box .btn_box { text-align: right; }
.reply_box .reply_list > li:not(:last-child) { border-bottom: 1px solid #ddd; }
.reply_box .reply_list > li.children .reply_view { border-left: 10px solid #56555c; }
.reply_box .reply_list > li .reply_view .reply_info { padding: 5px 10px; border-bottom: 1px dashed #ddd; background: #f5f5fa; }
.reply_box .reply_list > li .reply_view .reply_info span.reply_name::after { content: "/"; margin: 0 10px; }
.reply_box .reply_list > li .reply_view .reply_contents { padding: 10px; }
.reply_box .reply_list > li .reply_view .reply_contents .btn_box { margin-top: 10px; }
.reply_box .reply_list > li .reply_view:not(.on) .reply_contents .modify_box,
.reply_box .reply_list > li .reply_view:not(.on) .btn_box .btn_submit { display: none; }
.reply_box .reply_list > li .reply_view:not(.reply) .write_box { display: none; }
.reply_box .reply_list > li .reply_view.on .reply_contents .view_box { display: none; }
.reply_box .reply_list > li .reply_view:not(.reply) .write_box { display: none; }
.reply_box .reply_list > li .write_box .btn_box { padding: 0; }

.login_box { text-align: center; margin-top: 10vh; }
.login_box .inner_box { display: inline-block; vertical-align: top; padding: 10px; border: 1px solid #56555c; border-radius: 3px; box-shadow: 0 0 5px 0 #ccc }
.login_box .inner_box .row { padding: 5px 0; border-bottom: 1px solid #ccc; }
.login_box .inner_box .row .title { width: 80px; display: inline-block; vertical-align: middle; text-align: left; }
.login_box .inner_box .btn_box { margin-top: 10px; }
.login_box .inner_box .btn_box .btn { height: 25px; }