{{>layout/header}}

<h1>todo list page</h1>

{{#todoList}}
	<form action="/todo/modify" method="POST" class="todoForm todo_{{uid}}" data-uid="{{uid}}">
		<input type="hidden" name="uid" value="{{uid}}" />
		<input type="hidden" name="seq" value="{{seq}}" />
		<input type="hidden" name="imp" value="{{imp}}" />
		<p>중요도</p>
		<input type="checkbox" name="impck" disabled><br />
		<p>내용</p>
		<textarea name="contents" cols="30" rows="10" disabled>{{contents}}</textarea><br />
		<p>실행일</p>
		<input type="text" name="dDay" value="{{dDay}}" minlength="8" maxlength="8" disabled><br />
	</form>
	<a href="#" class="modifyBtn" data-uid="{{uid}}">수정</a>
	<a href="#" class="deleteBtn" data-uid="{{uid}}" data-seq="{{seq}}">삭제</a>
	<a href="#" class="saveBtn" data-uid="{{uid}}">저장</a>
	<br />
{{/todoList}}
{{^todoList}}
	<p>할 일이 없습니다</p>
{{/todoList}}

<script type="text/javascript">
	(function() {
		document.querySelectorAll(".deleteBtn").forEach(function(item, index) {
			item.addEventListener("click", function() {
				var target	= event.target;
				var uid		= target.getAttribute("data-uid");
				var seq		= target.getAttribute("data-seq");

				if (confirm("삭제하시겠습니까?")) {
					var form = document.createElement("form");
					form.action = "/todo/delete";
					form.method = "post";

					var uid_input = document.createElement("input");
					uid_input.type = "hidden";
					uid_input.name = "uid";
					uid_input.value = uid;

					var seq_input = document.createElement("input");
					seq_input.type = "hidden";
					seq_input.name = "seq";
					seq_input.value = seq;

					form.appendChild(uid_input);
					form.appendChild(seq_input);
					document.body.appendChild(form);
					form.submit();
					document.body.remove(form);
				}
			});
		});

		// check box
		document.querySelectorAll("input[name=impck]").forEach(function(item, index) {
			item.addEventListener("change", function() {
				var target  = event.target;
				var parent	= target.parentElement;
				var uid		= parent.getAttribute("data-uid");
				var imp     = document.querySelector("form.todo_" + uid + " input[name=imp]");
				
				if (target.checked) {
					imp.value = "1"; // 중요
				} else {
					imp.value = "0";
				}
			});
		});

		// important value
		document.querySelectorAll("input[name=imp]").forEach(function(item, index) {
				var parent	= item.parentElement;
				var uid		= parent.getAttribute("data-uid");
				var impck	= document.querySelector("form.todo_" + uid + " input[name=impck]");

				if (item.value == "0") {
					impck.checked = false;
				} else {
					impck.checked = true;
				}
		});
		
		document.querySelectorAll(".modifyBtn").forEach(function(item, index) {
			item.addEventListener("click", function() {
				var target	= event.target;
				var uid		= target.getAttribute("data-uid");
				var form	= document.querySelector("form.todo_" + uid);

				if (form.classList.contains("on")) {
					form.classList.remove("on");
					document.querySelector("form.todo_" + uid + " input[name=impck]").disabled			= true;
					document.querySelector("form.todo_" + uid + " textarea[name=contents]").disabled	= true;
					document.querySelector("form.todo_" + uid + " input[name=dDay]").disabled			= true;
				} else {
					form.classList.add("on");
					document.querySelector("form.todo_" + uid + " input[name=impck]").disabled			= false;
					document.querySelector("form.todo_" + uid + " textarea[name=contents]").disabled	= false;
					document.querySelector("form.todo_" + uid + " input[name=dDay]").disabled			= false;
				}
			});
		});

		document.querySelectorAll(".saveBtn").forEach(function(item, index) {
			item.addEventListener("click", function() {
				var target	= event.target;
				var uid		= target.getAttribute("data-uid");
				var form	= document.querySelector("form.todo_" + uid);

				if (confirm("변경내용을 저장하시겠습니까?")) {
					form.submit();
				}
			});
		});
	})();
</script>

{{>layout/footer}}